<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40%" *ngIf="dish" [@visibility]="visibility" [@expand] >
  <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail',prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail',next]"><span class="fa fa-chevron-right fa-lg"></span></button>

      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex [hidden]="dish || dishErrMess">
    <mat-spinner></mat-spinner><h4>Loading...please wait</h4>
  </div>
  <div *ngIf="dishErrMess">
      <h2>Error</h2>
      <h4>{{dishErrMess}}</h4>
  </div>
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand] >
    <h3>Comments</h3>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments">
          <p mat-line>{{comment.comment}}</p>
          <p mat-line>{{comment.rating}}</p>
          <p mat-line>--{{comment.author}}, {{comment.date | date}}</p>
      </mat-list-item>
    </mat-list>
    <div class="full-width" [hidden]="commentForm.invalid">
        <mat-list>
          <mat-list-item>
            <p mat-line>{{commentForm.value.comment}}</p>
            <p mat-line>{{commentForm.value.rating}}</p>
            <p mat-line>--{{commentForm.value.author}}</p>
          </mat-list-item>
        </mat-list>
      </div>



        <form novalidate [formGroup]="commentForm"  (ngSubmit)="onSubmit()">
          <div>
            <mat-input-container class="full-width"
            dividerColor="{{(commentFormErrors.author) ? 'warn':'primary'}}">
              <input type="text" matInput placeholder="Name" formControlName="author" required/>
              <mat-hint>
                <span [hidden]="!(commentFormErrors.author)">
                {{commentFormErrors.author}}
                </span>
              </mat-hint>
            </mat-input-container>
            <mat-input-container class="full-width">
              <mat-select placeholder="Rating" formControlName="rating">
                <mat-option *ngFor="let val of ratings" [value]="val">
                  {{ val }}
                </mat-option>
              </mat-select>
            </mat-input-container>

          <!--  <p>
              <mat-slider matInput="" formcontrolname="rating" min="1" max="5" step="1" thumblabel="" tickinterval="1"></mat-slider>
            </p>-->

            <mat-input-container class="full-width"
            dividerColor="{{(commentFormErrors.comment) ? 'warn':'primary'}}">
              <textarea rows="8"cols="200" matInput placeholder="Your Comment" formControlName="comment" required></textarea>
              <mat-hint>
                <span [hidden]="!(commentFormErrors.comment)">
                {{commentFormErrors.comment}}
                </span>
              </mat-hint>
            </mat-input-container>

            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>

          </div>
        </form>

  </div>

</div>
